.cd-top {
  bottom: 140px;
  display: block;
  height: 80px;
  position: fixed;
  right: 80px;
  width: 50px;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}
.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .8;
}
