/* EMBED / IMPORT FILE  */
@import url('../css/font-awesome.min.css');
@import url('../css/animate.css');
.g1 {
  background: -moz-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #333973), color-stop(100%, #673a5d));
  background: -webkit-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -o-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -ms-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: linear-gradient(135deg, #333973 0, #673a5d 100%);
}
.g2 {
  background: -webkit-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* W3C */
}
.g33 {
  background: -webkit-linear-gradient(0deg, #bda36a 20%, #9d5a26 80%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(0deg, #bda36a 20%, #9d5a26 80%);
  /* FF3.6+ */
  background: -ms-linear-gradient(0deg, #bda36a 20%, #9d5a26 80%);
  /* IE10 */
  background: -o-linear-gradient(0deg, #bda36a 20%, #9d5a26 80%);
  /* Opera 11.10+ */
  background: linear-gradient(0deg, #bda36a 20%, #9d5a26 80%);
  /* W3C */
}
.g3 {
  background: -webkit-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* W3C */
}
.g4 {
  background: -webkit-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* W3C */
}
.g5 {
  background: -webkit-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* W3C */
}
.g6 {
  background: -webkit-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* W3C */
}
.g7 {
  background: -webkit-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* W3C */
}
.g8 {
  background: -webkit-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* W3C */
}
.g9 {
  background: -webkit-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* W3C */
}
.g10 {
  background: -webkit-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* W3C */
}
.g11 {
  background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* W3C */
}
.g12 {
  background: -webkit-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* W3C */
}
.g13 {
  background: -webkit-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* W3C */
}
.g14 {
  background: -webkit-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* W3C */
}
.g15 {
  background: -webkit-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* W3C */
}
.g16 {
  background: -webkit-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* W3C */
}
.g17 {
  background: -webkit-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #003973 10%, #909069 90%);
  /* W3C */
}
.g18 {
  background: -webkit-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* W3C */
}
.s1 {
  background: -moz-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #333973), color-stop(100%, #673a5d));
  background: -webkit-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -o-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -ms-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: linear-gradient(135deg, #333973 0, #673a5d 100%);
}
.s2 {
  background: -webkit-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* W3C */
}
.s3 {
  background: -webkit-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* W3C */
}
@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/gotham-webfont/Gotham-Black_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-Black_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-Black_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-Black_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-Black_gdi.svg#Gotham-Black') format('svg');
  font-weight: 425;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-BlackItalic';
  src: url('../fonts/gotham-webfont/Gotham-BlackItalic_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-BlackItalic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-BlackItalic_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-BlackItalic_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-BlackItalic_gdi.svg#Gotham-BlackItalic') format('svg');
  font-weight: 425;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/gotham-webfont/Gotham-Bold_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-Bold_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-Bold_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-Bold_gdi.svg#Gotham-Bold') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url('../fonts/gotham-webfont/Gotham-BoldItalic_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-BoldItalic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-BoldItalic_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-BoldItalic_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-BoldItalic_gdi.svg#Gotham-BoldItalic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/gotham-webfont/Gotham-Book_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-Book_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-Book_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-Book_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-Book_gdi.svg#Gotham-Book') format('svg');
  font-weight: 325;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('../fonts/gotham-webfont/Gotham-BookItalic_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-BookItalic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-BookItalic_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-BookItalic_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-BookItalic_gdi.svg#Gotham-BookItalic') format('svg');
  font-weight: 325;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-ExtraLight';
  src: url('../fonts/gotham-webfont/Gotham-ExtraLight_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-ExtraLight_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-ExtraLight_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-ExtraLight_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-ExtraLight_gdi.svg#Gotham-ExtraLight') format('svg');
  font-weight: 275;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-ExtraLightItalic';
  src: url('../fonts/gotham-webfont/Gotham-ExtraLightItalic_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-ExtraLightItalic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-ExtraLightItalic_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-ExtraLightItalic_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-ExtraLightItalic_gdi.svg#Gotham-ExtraLightItalic') format('svg');
  font-weight: 275;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/gotham-webfont/Gotham-Light_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-Light_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-Light_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-Light_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-Light_gdi.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-LightItalic';
  src: url('../fonts/gotham-webfont/Gotham-LightItalic_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-LightItalic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-LightItalic_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-LightItalic_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-LightItalic_gdi.svg#Gotham-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/gotham-webfont/Gotham-Medium_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-Medium_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-Medium_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-Medium_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-Medium_gdi.svg#Gotham-Medium') format('svg');
  font-weight: 350;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url('../fonts/gotham-webfont/Gotham-MediumItalic_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-MediumItalic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-MediumItalic_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-MediumItalic_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-MediumItalic_gdi.svg#Gotham-MediumItalic') format('svg');
  font-weight: 350;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-Thin';
  src: url('../fonts/gotham-webfont/Gotham-Thin_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-Thin_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-Thin_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-Thin_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-Thin_gdi.svg#Gotham-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url('../fonts/gotham-webfont/Gotham-ThinItalic_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-ThinItalic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-ThinItalic_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-ThinItalic_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-ThinItalic_gdi.svg#Gotham-ThinItalic') format('svg');
  font-weight: 250;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-Ultra';
  src: url('../fonts/gotham-webfont/Gotham-Ultra_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-Ultra_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-Ultra_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-Ultra_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-Ultra_gdi.svg#Gotham-Ultra') format('svg');
  font-weight: 450;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url('../fonts/gotham-webfont/Gotham-UltraItalic_gdi.eot');
  src: url('../fonts/gotham-webfont/Gotham-UltraItalic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/Gotham-UltraItalic_gdi.woff') format('woff'), url('../fonts/gotham-webfont/Gotham-UltraItalic_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/Gotham-UltraItalic_gdi.svg#Gotham-UltraItalic') format('svg');
  font-weight: 450;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'GothamUltra-Regular';
  src: url('../fonts/gotham-webfont/GothamUltra_gdi.eot');
  src: url('../fonts/gotham-webfont/GothamUltra_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-webfont/GothamUltra_gdi.woff') format('woff'), url('../fonts/gotham-webfont/GothamUltra_gdi.ttf') format('truetype'), url('../fonts/gotham-webfont/GothamUltra_gdi.svg#GothamUltra-Regular') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2248;
}
/** color variables **/
/*  Button color */
/** text color **/
* {
  -webkit-text-shadow: none;
  text-shadow: none;
  outline: 0;
}
body {
  background: #f0f0f0;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
p,
.para {
  display: block;
  font-family: 'Gotham-Book', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8em;
  letter-spacing: 0;
  color: #8B8B8B;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}
p:first-letter,
.para:first-letter {
  text-transform: uppercase;
}
img {
  max-width: 100%;
}
/* Background classes */
.bg-grey-light {
  background: #f0f0f0;
}
@media (min-width: 1300px) {
  .container {
    width: 1250px;
  }
}
/** Border classes **/
.bd-0 {
  border: none!important;
}
.bdr-0 {
  border: right!important;
}
.bdl-0 {
  border: left!important;
}
/** Padding classes **/
.pad-0 {
  padding: none !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-45 {
  padding-top: 45px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-55 {
  padding-top: 55px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-65 {
  padding-top: 65px;
}
.pt-70 {
  padding-top: 70px;
}
.pt-75 {
  padding-top: 75px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-85 {
  padding-top: 85px;
}
.pt-90 {
  padding-top: 90px;
}
.pt-95 {
  padding-top: 95px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-45 {
  padding-bottom: 45px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-55 {
  padding-bottom: 55px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-65 {
  padding-bottom: 65px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-75 {
  padding-bottom: 75px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-85 {
  padding-bottom: 85px;
}
.pb-90 {
  padding-bottom: 90px;
}
.pb-95 {
  padding-bottom: 95px;
}
.pb-100 {
  padding-bottom: 100px;
}
/** Margin-top classes **/
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-55 {
  margin-top: 55px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-65 {
  margin-top: 65px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-75 {
  margin-top: 75px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-85 {
  margin-top: 85px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-95 {
  margin-top: 95px;
}
.mt-100 {
  margin-top: 100px;
}
/** Margin-bottom classes **/
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-55 {
  margin-bottom: 55px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-65 {
  margin-bottom: 65px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-75 {
  margin-bottom: 75px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-85 {
  margin-bottom: 85px;
}
.mb-90 {
  margin-bottom: 90px;
}
.mb-95 {
  margin-bottom: 95px;
}
.mb-100 {
  margin-bottom: 100px;
}
/* Main a link style */
.mainlinkstyle {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 10px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .16em;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease;
}
.mainlinkstyle:hover,
.mainlinkstyle:active,
.mainlinkstyle:focus {
  color: #ffffff;
  background: transparent;
  text-decoration: none;
}
.linkactive {
  color: #ffffff;
  background: transparent;
}
.subheadline {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 18px;
  letter-spacing: .03em;
  text-transform: uppercase;
  margin-bottom: 1em;
  line-height: 1em;
  display: inline-block;
  width: auto;
  color: #333333;
}
.subheadline-light {
  font-family: 'Gotham-Thin', sans-serif;
  line-height: .9em;
  font-weight: 100;
  letter-spacing: -0.02em;
  font-size: 59px;
  text-rendering: geometricPrecision;
  color: #333333;
  margin-bottom: .35em;
}
.btn {
  box-shadow: none;
  display: inline-block;
  padding: 0 20px;
  height: 32px;
  line-height: 28px;
  border: 2px solid;
  text-transform: capitalize;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  background: rgba(28, 28, 28, 0.8);
  color: #ffffff;
}
.btn-dark {
  background: rgba(28, 28, 28, 0.8);
  color: #ffffff;
}
.btn-white {
  background: #ffffff;
  color: rgba(28, 28, 28, 0.8);
}
.header-nav {
  background: #0f0f0f;
}
/* Navbar default */
.navbar.navbar-default {
  background: transparent;
  border: none;
  box-shadow: none;
}
.navbar.navbar-default a {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 10px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .16em;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease;
}
.navbar.navbar-default a:hover,
.navbar.navbar-default a:active,
.navbar.navbar-default a:focus {
  color: #ffffff;
  background: transparent;
  text-decoration: none;
}
.navbar.navbar-default .navbar-nav > li > a {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 10px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .16em;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease;
}
.navbar.navbar-default .navbar-nav > li > a:hover,
.navbar.navbar-default .navbar-nav > li > a:active,
.navbar.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background: transparent;
  text-decoration: none;
}
.navbar.navbar-default .navbar-nav > li.active a {
  color: #ffffff;
  background: transparent;
}
@media only screen and (min-width: 768px) {
  .navbar.navbar-default {
    margin: 20px 0 0;
  }
}
/* padding:9px 10px;side nav  */
.nav-holder a {
  padding: 9px 10px;
  vertical-align: middle;
  display: inline-block;
}
.main-banner {
  background: #0f0f0f;
  height: 430px;
}
/** Template holder style **/
@media only screen and (min-width: 992px) {
  .template-inner-wrapper {
    padding: 0 53px;
  }
}
.template-item {
  margin-bottom: 50px;
}
.template-item img {
  width: 100%;
}
.template-item .para {
  padding: 5px 10px;
  text-transform: capitalize;
}
