/** Template holder style **/
.template-inner-wrapper {
  padding: 0 53px;
}
.template-item {
  margin-bottom: 50px;
}
.template-item img {
  width: 100%;
}
.template-item .para {
  padding: 5px 10px;
  text-transform: capitalize;
}
