.btn{
	box-shadow:none;
	display:inline-block;
	padding:0 20px;
	height:32px;
	line-height:28px;
	border:2px solid;
	text-transform:capitalize;
	border-radius:0;
	position:relative;
	overflow:hidden;
	background:@btncolor;
	color:@white;
}

.btn-dark{
	background:@btncolor;
	color:@white;
}
.btn-white{
	background:@white;
	color:@btncolor;
}