*{
	-webkit-text-shadow:none;
	text-shadow:none;
	outline:0;
}
body{
	background: @bodybg;
}
a,a:hover,a:focus,a:active{
	text-decoration:none;
}
p,.para{
	display: block;
    font-family: @base-font;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: 0;
    color: #8B8B8B;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
	
	&:first-letter{
		text-transform:uppercase;
	}
}

img{
	max-width:100%;
}
/* Background classes */

.bg-grey-light{
	background: @bodybg;
}