/* Main a link style */

.mainlinkstyle{

		font-family:@Gotham-Bold;
		font-size: 10px;
		line-height: 24px;
		color:@whitedim;
		letter-spacing: .16em;
		text-transform: uppercase;
		transition-property: color;
		transition-duration: .3s;
		transition-timing-function: ease;
		
		&:hover,&:active,&:focus{
			.linkactive();
			text-decoration:none;
		}

}

.linkactive{
	color: @white;
	background:transparent;
}


.subheadline{
    font-family: @base-font-bold;
    font-size: 18px;
    letter-spacing: .03em;
    text-transform: uppercase;
    margin-bottom: 1em;
    line-height: 1em;
    display: inline-block;
    width: auto;
	color: @headcolor;
}
.subheadline-light{
    font-family: @base-font-thin;
    line-height: .9em;
    font-weight: 100;
    letter-spacing: -.02em;
    font-size: 59px;
    text-rendering: geometricPrecision;
    color: @headcolor;
    margin-bottom: .35em;
}

.blackbg{
	background: @blackbg;
}