.header-nav{
	background:@main-black;
}

/* Navbar default */
.navbar.navbar-default{
	background:transparent;
	border:none;
	box-shadow:none;
	
	a{
		.mainlinkstyle();
	}
	
		.navbar-nav{
			>li{
				>a{
					.mainlinkstyle();
				}
				&.active{
					a{
						.linkactive();
					}
				}
			}
		}
	
	@media @smmin{
		margin:20px 0 0;
	}
}

/* padding:9px 10px;side nav  */
.nav-holder{
	a{
		padding:9px 10px;	
		vertical-align:middle;
		display:inline-block;
	}
	
}

