/** Template holder style **/


.template-inner-wrapper{
	
	@media @mdmin{
		padding:0 53px;
	}
}
.template-item{

	margin-bottom:50px;
	
	img{
		width:100%;
	}
	.para{
		padding:5px 10px;
		text-transform:capitalize;
	}
}