/** color variables **/
@main-black: rgba(15,15,15,1);
@bodybg: #f0f0f0;
@blackbg: #1c1c1c;

/*  Button color */
 @btncolor: rgba(28,28,28,.8);
 @bdrcolor: rgba(28,28,28,1);


/** text color **/
@white: rgba(255,255,255,1);
@whitedim: rgba(255,255,255,0.5);
@headcolor: #333;

@desktopOnly: ~"only screen and (min-width: 768px)";
@xsOnly: ~"only screen and (max-width: 767px)";
@mdOnly: ~"only screen and (min-width: 991px) and (max-width: 1199px)";
@tabletx: ~"only screen and (min-width: 720px) and (max-width: 959px)";
@xmobile: ~"only screen and (max-width: 320px)";
@lgmax: ~"only screen and (max-width: 1199px)";
@lgonly: ~"only screen and (min-width: 1200px)";
@mdmax: ~"only screen and (max-width: 992px)";
@mdmin: ~"only screen and (min-width: 992px)";
@smOnly: ~"(min-width: 778px) and (max-width: 991px)";
@mdsm: ~"(min-width: 778px) and (max-width: 1199px)";

@lgmax: ~"only screen and (max-width: 1199px)";
@mdmax: ~"only screen and (max-width: 992px)";
@smmax: ~"only screen and (max-width: 767px)";
@xmmax: ~"only screen and (max-width: 480px)";
@xsmax: ~"only screen and (max-width: 320px)";


@lgmin: ~"only screen and (min-width: 1200px)";
@mdmin: ~"only screen and (min-width: 992px)";
@smmin: ~"only screen and (min-width: 768px)";
@xmmin: ~"only screen and (min-width: 481px)";
@xsmin: ~"only screen and (min-width: 321px)";


























































































